<!-- about -->
<section class="section section-on-footer" data-background="{{site.baseurl}}/assets/images/backgrounds/bg-dots.png">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 mt-3 text-center">
        <h2 class="section-title">{{ site.data.settings.agenda-title }}</h2>
      </div>
      <div class="col-lg-10 mx-auto text-left">
        <p class="font-secondary-bold text-dark" style="font-size:160%;">  
          Day 1
        </p>
        <p class="font-secondary-bold text-dark">
          24<sup>th</sup> of February, Monday, <a href="https://www.tno.nl/nl/over-tno/locaties/locatie-delft-stieltjesweg/lid2319/" target="_blank" class="btn-transparent">Room P01.020, Stieltjesweg 1, 2628 CK Delft</a>
        </p>
        <p class="font-secondary text-dark">
          A small group session for those who were contributing to and/or participating in the <a href="https://rprepo.readthedocs.io/en/latest/" target="_blank" class="btn-transparent">Black-box Reliability Challenge 2019</a>.
        </p>
        <table class="table table-hover table-sm">
          <thead>
            <tr>
              <th scope="col">Time</th>
              <th scope="col">Action/event</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="table-active">12:00-12:30</td>
              <td class="table-active">Opening and getting some lunch</td>
            </tr>
            <tr>
              <td>12:30-13:00</td>
              <td>Overview of the reliability challenge problems</td>
            </tr>
            <tr>
              <td>13:00-13:25</td>
              <td>Presentation of Juan Gonzalo Sepúlveda Astudillo</td>
            </tr>
            <tr>
              <td>13:25-13:50</td>
              <td>Presentation of Marco de Angelis</td>
            </tr>
            <tr>
              <td>13:50-14:15</td>
              <td>Presentation of Sebastian Geyer</td>
            </tr>
            <tr>
              <td class="table-active">14.15-14.30</td>
              <td class="table-active">Coffee break</td>
            </tr>
            <tr>
              <td>14:30-14:55</td>
              <td>Presentation of Maliki Moustapha</td>
            </tr>
            <tr>
              <td>14:55-15:20</td>
              <td>Presentation of Peter Hristov</td>
            </tr>
            <tr>
              <td>15:20-15:45</td>
              <td>Presentation of Rein de Vries</td>
            </tr>
            <tr>
              <td class="table-active">15:45-16:00</td>
              <td class="table-active">Coffee break</td>
            </tr>
            <tr>
              <td>16:00-17:00</td>
              <td>Discussion: next steps</td>
            </tr>
          </tbody>
        </table>
        <br>

        <p class="font-secondary-bold text-dark" style="font-size:160%;">  
          Day 2
        </p>
        <p class="font-secondary-bold text-dark">
          25<sup>th</sup> of February, Tuesday, <a href="https://www.tno.nl/nl/over-tno/locaties/locatie-delft-stieltjesweg/lid2319/" target="_blank" class="btn-transparent">Room E075, Stieltjesweg 1, 2628 CK Delft</a>
        </p>
        <p class="font-secondary text-dark">
          A larger group session for anyone who is interested. Presenting the aggregated results and the solutions of the participants. Additional presentations are also welcome (limited only by the available time). Please indicate you interest in giving a presentation in the registration form and we will contact you.
        </p>
        <table class="table table-hover table-sm">
          <thead>
            <tr>
              <th scope="col">Time</th>
              <th scope="col">Action/event</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="table-active">09:00-09:15</td>
              <td class="table-active">Opening</td>
            </tr>
            <tr>
              <td>09:15-10:00</td>
              <td>Overview of the reliability challenge framework, reliability problems, and results</td>
            </tr>
            <tr>
              <td>10:00-11:00</td>
              <td>Discussion on the used methods, talking with the participants</td>
            </tr>
            <tr>
              <td class="table-active">11:00-11:15</td>
              <td class="table-active">Coffee break</td>
            </tr>
            <tr>
              <td>11:15-11:30</td>
              <td>Presentation of Reza Allahvirdizadeh</td>
            </tr>
            <tr>
              <td>11:30-12:00</td>
              <td>Presentation of Maliki Moustapha</td>
            </tr>
            <tr>
              <td class="table-active">12:00-12:45</td>
              <td class="table-active">Lunch break</td>
            </tr>
            <tr>
              <td>12:45-13:15</td>
              <td>Presentation of Marco De Angelis</td>
            </tr>
            <tr>
              <td>13:15-13:45</td>
              <td>Presentation of Arpad Rozsas</td>
            </tr>
            <tr>
              <td class="table-active">13:45-14:00</td>
              <td class="table-active">Coffee break</td>
            </tr>
            <tr>
              <td>14:00-15:00</td>
              <td>Discussion: next steps	</td>
            </tr>
            <tr>
              <td>15:00</td>
              <td>Closure</td>
            </tr>
          </tbody>
        </table>
        <p class="font-secondary text-dark">
          Use <a href="https://meet.jit.si/ReliabilityWorkshop2020Febr25" target="_blank" class="btn-transparent">this link</a> to join the workshop from remote!
        </p>
        <p class="font-secondary-bold text-dark"> 
            The agenda is being updated as new information becomes available.
        </p>
        <hr>
        <hr>
      </div>
    </div>
  </div>
</section>
<!-- /about -->