<!-- registration -->
<section class="section section-on-footer" data-background="{{site.baseurl}}/assets/images/backgrounds/bg-dots.png">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2><a href="registration.html" class="text-dark section-title">{{ site.data.settings.registration-title }}</a></h2>
      </div>
      <div class="col-lg-10 mx-auto text-left font-secondary paragraph-lg text-dark">
        {{site.data.settings.registration-section}}
      </div>
    </div>
  </div>
</section>
<!-- /registration -->
