<!-- registration -->
<section class="section section-on-footer" data-background="{{site.baseurl}}/assets/images/backgrounds/bg-dots.png">
  <div class="container">
    <div class="row">
      <div class="col-lg-11 mx-auto mt-0"></div>
        <h2 class="section-title">{{ site.data.settings.registration-title }}</h2>
      </div>
      <div class="col-lg-10 mx-auto text-left font-secondary paragraph-lg text-dark">
        {{site.data.settings.registration }}
      </div>
      <div class="col-lg-12 text-center">
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSeDIaW5froWbpYBAG3P8B53mBuRyAo8EjnNNeUOzv6xStRtHQ/viewform?embedded=true" width="700" height="520" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
    </div>
  </div>
</section>
<!-- /registration -->