<!-- resources -->
<section class="section" data-background="{{site.baseurl}}/assets/images/backgrounds/bg-dots.png">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 mt-5 text-center">
        <h2 class="section-title"><a href="resources.html" class="text-dark section-title"></a>{{ site.data.settings.resources-title }}</a></h2>
      </div>
      <div class="col-lg-10 mx-auto text-left">
        {{site.data.settings.resources-section}}
      </div>
      <!-- {{site.data.settings.resources-button}} -->
      <!-- <a href="resources.html" class="btn btn-primary w-100" role="button">View resources</a> -->
      <div class="col-lg-6 col-10 mx-auto">
        <a href="resources.html" class="btn btn-primary w-100" role="button">View resources</a>
      </div>
    </div>
  </div>
</section>
<!-- /resources -->


