---
layout: default
---

<!-- page title -->
<section class="page-title bg-primary position-relative">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h1 class="text-white font-tertiary">{{ page.title }}</h1>
      </div>
    </div>
  </div>
  <!-- background shapes -->
  <img src="{{ site.baseurl }}/assets/images/illustrations/1d_gpr.png" alt="illustrations" class="bg-shape-5">
  <img src="{{ site.baseurl }}/assets/images/illustrations/1d_density_blue.png" alt="illustrations" class="bg-shape-6">
  <img src="{{ site.baseurl }}/assets/images/illustrations/dots-group-cyan.png" alt="illustrations" class="bg-shape-7">
</section>
<!-- /page title -->

{{ content }}